*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
    }
    .logo{
        display:flex;
        align-items:center;
        gap:10px;
        font-weight:600;
        font-size:20px;
        }
        
        .logo img{
        width:40px;
        height:40px;
        object-fit:cover;
        border-radius:50%;
        }
    body{
    background:#f2e6df;
    color:#333;
    line-height:1.6;
    }
    
    /* HEADER */
    
    header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#fff;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    }
    
    header h2{
    font-weight:600;
    }
    
    nav a{
    margin-left:25px;
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
    }
    
    nav a:hover{
    color:#c79a8b;
    }
    
    /* HERO */
    
    .hero{
    height:80vh;
    background:url("images/photo1.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    position:relative;
    }
    
    .hero::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.35);
    }
    
    .hero-text{
    position:relative;
    z-index:2;
    max-width:600px;
    }
    
    .hero h1{
    font-size:60px;
    margin-bottom:20px;
    }
    
    .hero p{
    font-size:18px;
    margin-bottom:25px;
    }
    
    .hero button{
    padding:12px 30px;
    border:none;
    background:#000;
    color:white;
    font-size:16px;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
    }
    
    .hero button:hover{
    background:#c79a8b;
    }
    
    /* ABOUT */
    
    .about{
    padding:80px 20px;
    text-align:center;
    max-width:800px;
    margin:auto;
    }
    
    .about h2{
    font-size:32px;
    margin-bottom:20px;
    }
    
    /* SERVICES */
    
    .services{
    padding:80px 20px;
    text-align:center;
    }
    
    .services h2{
    font-size:32px;
    margin-bottom:40px;
    }
    
    .service-box{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    }
    
    .box{
    background:white;
    padding:30px;
    width:260px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
    }
    
    .box:hover{
    transform:translateY(-10px);
    }
    
    .box h3{
    margin-bottom:10px;
    }
    
    .box h4{
    margin-top:15px;
    color:#c79a8b;
    font-size:20px;
    }
    
    /* PORTFOLIO */
    
    .portfolio{
    padding:80px 20px;
    text-align:center;
    }
    
    .portfolio h2{
    font-size:32px;
    margin-bottom:40px;
    }
    
    .gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    max-width:1100px;
    margin:auto;
    }
    
    .gallery img{
    width:100%;
    border-radius:12px;
    transition:0.3s;
    }
    
    .gallery img:hover{
    transform:scale(1.05);
    }
    
    /* FOOTER */
    
    footer{
    background:#222;
    color:white;
    text-align:center;
    padding:40px 20px;
    margin-top:60px;
    }
    
    footer p{
    margin:8px 0;
    }